<!doctype html>
<html lang="en" ng-app="metadataEditor" ng-controller="MetadataCtrl">
<head>
  <meta charset="utf-8">
  <!--<title ng-bind-template="The query: {{query}}"></title>-->
  <title>LIDD</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="metadata.css">
  <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">
  <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script type="text/javascript" 
          src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-date/src/date.js"></script>
  <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
  <script src="js/controllers.js"></script>
</head>

<body>
<!--<body ng-controller="PhoneListCtrl">-->

  <nav class="navbar navbar-default navbar-fixed-top" id="custom-navbar">
      <div class="container-fluid">
        <div class="navbar-header">

          <button tabindex=24 class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>

      </div>

        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav">
            <li><a href="/lidd" id="nav-button">LIDD</a></li>
            <li><a href="https://github.com/mtpain/rda-lod/issues/new" 
                   id="nav-button">Feedback</a></li>
            <li>
              <a href="mailto:maturner01@gmail.com" id="nav-button">
                  Contact the developer
              </a>
            </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/lidd/api">Access the API</a>
              </li>
              <li>
                <a href="https://github.com/mtpain/rda-lod">
                  <span class="octicon octicon-mark-github"></span>
                </a>
              </li>
            </ul>

        </div>
        
      </div>
    </nav>

    <h2 id="brand">Welcome to...</h3>

<div id="main-container" class="container">
  <div class="jumbotron text-center">
    <img src="figures/logo.png" alt="LIDD" width="90%">
  </div>

<hr class='style-eight'/>

  <div class="info">
    <h2 style="text-decoration: underline">A full system prototype for interdisciplinary research</h2>
    <p>
      What's currently here is a complete minimum viable product that's a response
      the challenge of the Research Data Alliance to build a system that 
      will enable researchers to discover interdisciplinary data from diverse 
      repositories. While this is the basic requirement, we operate on the
      hypothesis that linked data standards and the W3C standard of standards
      <a href="http://www.w3.org/TR/hcls-dataset/">
        Health Care and Life Sciences (HCLS) Community Profile
      </a>
      will be useful.
    </p>
    <p>
      While these new techniques may prove useful, we first aim to make 
      something useful.  To this end, we provide this front end search interface
      for users who just want to find useful, related data.  Currently you can
      search titles and filter based on the metadata standard, which currently are
      DDI records from <a href="https://www.icpsr.umich.edu/">ICPSR</a> and EML metadata retrieved from
      <a href="https://www.dataone.org/">DataONE</a>. The immediate next metadata
      standard we will normalize will be DataONE's Dublin Core and DataONE's 
      FGDC metadata.
    </p>
    <p>
      For developers we provide full, transparent access to our 
      <a href="https://mt.northwestknowledge.net/lidd/api">metadata API</a>.    
    </p>
  </div>

<hr class='style-eight'/>
  
  <form ng-submit="search()">
    <div class="row">
      <h3>Search over these metadata standards:</h3>
      <input type="checkbox" ng-model="standards.eml" checked>EML</input>
      <input type="checkbox" ng-model="standards.ddi" checked>DDI</input>
    </div>
    
    <div class="row">
    <h3 id="search">Search:</h3>
    <!--<div id="searchbox">-->
      <input style="width:80%" type="text" ng-model="searchStr">
      <button>Go</button>
    </div>
  </form>
  

  <!-- View of current metadata records -->
  <a class="anchor" name="list"><h1 name="list">Listing of Current Metadata Records</h1></a>  
  <h3>{{ resultCount }} records found</h3>
  

  <table class="table table-striped">
    <thead>
      <tr>
        <td><b>Dataset Title</b></td>   
        <td><b>Native Metadata Standard</b></td>
        <td><b>Data Start Coverage Date</b></td>   
        <td><b>Data End Coverage Date</b></td> 
        <td><b>Format Options</b></td>
      </tr>
    </thead>
    <tr ng-repeat="mdRecord in recordsList">
      <td><a title="Link back to original record"
             href="{{ mdRecord.originalLink }}">{{ mdRecord.title }}</a></td>
      <td style="text-align:center" ng-repeat="mdstds in mdRecord.metadata_standards">{{ mdstds.name }}</td>
      <td>{{ mdRecord.start_datetime }}</td>
      <td>{{ mdRecord.end_datetime }}</td>
      <td>
        <div class="btn-group btn-group-xs">
          <!--<span class="btn btn-default"-->
                <!--ng-click="editRecord(mdRecord._id.$oid)">-->
              
          <!--</span>-->
          <a
            class="btn btn-default"
            href="{{ mdRecord.permalink }}">JSON</a>
          <a
            class="btn btn-default"
            href="{{ mdRecord.raw }}">
            raw
          </a>
          <a
            class="btn btn-default"
            href="{{ mdRecord.permalink }}/jsonld">JSON-LD</a>
          <a
            class="btn btn-default"
            href="{{ mdRecord.permalink }}/rdf">
            RDF NQUADS
          </a>
        </div>
      </td>
    </tr>
  </table>


</div>
</body>
</html>
