<!doctype html>
<html lang="en" ng-app="metadataEditor" ng-controller="MetadataCtrl">
<head>
  <meta charset="utf-8">
  <!--<title ng-bind-template="The query: {{query}}"></title>-->
  <title>LIDD</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="metadata.css">
  <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">
  <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script type="text/javascript" 
          src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-date/src/date.js"></script>
  <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
  <script src="js/controllers.js"></script>
</head>

<body>
<!--<body ng-controller="PhoneListCtrl">-->

  <nav class="navbar navbar-default navbar-fixed-top" id="custom-navbar">
      <div class="container-fluid">
        <div class="navbar-header">

          <button tabindex=24 class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>

      </div>

        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav">
            <!--<li class="dropdown">-->
              <!--<a id="nav-button" class="dropdown-toggle" aria-expanded="false" -->
                 <!--aria-haspopup="true" role="button" data-toggle="dropdown" href="#">-->
                <!--Go to Section <span class="caret"></span>-->
              <!--</a>-->
              <!--<ul class="dropdown-menu">-->
                <!--<li>-->
                  <!--<a href="#basic">-->
                    <!--<span class="glyphicon glyphicon-check"></span>-->
                    <!--Basic & Detailed Info-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#spatiotemporal">-->
                    <!--<span class="glyphicon glyphicon-globe"></span>/<span class="glyphicon glyphicon-time"></span>-->
                    <!--Spatiotemporal Extents-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li><a href="#contacts">-->
                  <!--<span class="octicon octicon-repo"></span> Contacts</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#online"><span class="octicon octicon-device-desktop"></span> Online Resources</a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</li>-->
            <li><a href="/" id="nav-button">LIDD</a><!--<a href="/#go-to-modal-info">Info</a>--></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="https://github.com/mtpain/rda-lod">
                  <span class="octicon octicon-mark-github"></span>
                </a>
              </li>
            </ul>

        </div>
        
      </div>
    </nav>

    <h2 id="brand">Welcome to...</h3>

<div id="main-container" class="container">
  <div class="jumbotron text-center"><img src="figures/logo.png" alt="LIDD" width="90%"></div>
</div>

  <!-- View of current metadata records -->
<a class="anchor" name="list"><h1 name="list">Listing of Current Metadata Records</h1></a>  

  <table class="table table-striped">
    <thead>
      <tr>
        <td><b>Dataset Title</b></td>   
        <td><b>Native Metadata Standard</b></td>
        <td><b>Data Start Coverage Date</b></td>   
        <td><b>Data End Coverage Date</b></td> 
        <td><b>Format Options</b></td>
      </tr>
    </thead>
    <tr ng-repeat="mdRecord in allRecords">
      <td>{{ mdRecord.title }}</td>
      <td style="text-align:center" ng-repeat="mdstds in mdRecord.metadata_standards">{{ mdstds.name }}</td>
      <td>{{ mdRecord.start_datetime }}</td>
      <td>{{ mdRecord.end_datetime }}</td>
      <td>
        <div class="btn-group btn-group-xs">
          <!--<span class="btn btn-default"-->
                <!--ng-click="editRecord(mdRecord._id.$oid)">-->
              
          <!--</span>-->
          <a
            class="btn btn-default"
            href="{{ mdRecord.permalink }}">JSON</a>
          <a
            class="btn btn-default"
            href="{{ mdRecord.raw }}">
            raw
          </a>
        </div>
      </td>
    </tr>
  </table>


</div>
</body>
</html>
