@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

html *
{
  font-family: 'Quattrocento Sans', sans-serif;  
}

p {
  font-size: 1.4em;
}

.center-img {
  display: block;
}

.jumbotron {
  margin-right: 0 auto;
}

h6 {
  margin-left: 4px;
}

.btn-primary {
  background-color: dodgerblue;
}

.btn-primary:hover {
  background-color: #eaeaea;
  color: dodgerblue;
}
/* To make anchors used as headings the same style */
.anchor, .anchor:hover {
  color: #333;
  text-decoration: none;
}

/*
 * to accomodate the navbar
 * see http://getbootstrap.com/components/#navbar-fixed-top 
 */
body { 
    padding-top: 45px; 
    /*background: #DFC6C9;*/
    background: #C6DEFF;
    color: black;
}

#custom-navbar {
  background: #FFCDC8;
}

h1#record-title {
  margin-top: -10px; 
}

#brand {
  color:#444;
  margin-left:19px;
  text-decoration: underline;
}

#nav-button {
  font-weight: bold;  
}

h3#search {
  margin-left: 50px;
}

#searchbox {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
} 

/* Glyph, by Harry Roberts */ hr.style-eight { padding: 0; border: none; border-top: medium double #333; color: #333; text-align: center; } hr.style-eight:after { content: "§"; display: inline-block; position: relative; top: -0.7em; font-size: 1.5em; padding: 0 0.25em; } background: #C6DEFF; }
