img {
    background-color: lightgrey;
    width: 88%;
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 1.2em;    
}

p.caption {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    font-size: 0.85em;
}

p#stallman-citation {
    font-size: .9em;
    background-color: lightgrey;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img#stallman {
    display:'inline-block';
    width:20%;
    margin:10px;
}

.sourceCode {
    width: 95%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
